.header {
  padding: 15px 0;
  border-bottom: lightgray 1px solid;
  &__menu {
    display: flex;
    align-items: center;
    gap: 10px;

    &-item-link {
      color: black;
      font-weight: bold;
      text-decoration: none;
    }
  }

}
