.container {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
  grid-template-areas:
    'addform'
    'todolist';
}

.addForm {
  grid-area: addform;
}

.todoList {
  grid-area: todolist;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'addform todolist';
  }
}

@media (max-width: 320px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      'addform'
      'todolist';
  }
}
